<!DOCTYPE html>
<html>
<head>
    <title>Event Registration</title>
</head>
<body>
    <h2>Event Registration Form</h2>
    <form method="POST">
        Name:<br>
        <input type="text" name="name" required><br><br>

        Email:<br>
        <input type="email" name="email" required><br><br>
         Phone:<br>
         <input type="text" name="phone"><br><br>
        Select Event:<br>
        <select name="event">
            <option value="Workshop">Workshop</option>
            <option value="Seminar">Seminar</option>
            <option value="Hackathon">Hackathon</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>